.cointainer {
    background-color:orange;
    width: 23%;
    height: 60%;
    margin-top: 8%;
    border-radius: 3.8%;
    position:absolute;
    margin-left: 35%;
}

.innercolor {
    background-color: orange;
    height: 260px;
    border-radius: 17px 17px 0px 0px;
}

.textboxholder {
    background-color:black;
    width: 97%;
    height:76%;
    border-radius:6.1%;
    margin-left:1.4%;
    margin-top:33%;
    position: absolute;
}

.innercolorText {
  font-size:xx-large;
  color: #ffffff;
  position:absolute;
  margin-top: 1%;
  margin-left: 3%;
}

#display_image{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
  }

  .contactList{
    width: 23.5%;
    height: 60%;
    margin-top: 8%;
    border-radius: 3.8%;
    margin-left: 35%;
    background-color:#61B457;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto;
    padding: 10px;
    position: absolute;
    overflow:auto;
    overscroll-behavior: contain;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  .iop{
    background-color: white;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    color: black;
    justify-content: center;
    display: flex;
    border-radius: 40px;
    line-height: 35px;
  }

  .addcontact{
    margin-top: 9%;
    margin-left: 56%;
    position: absolute;
  }

  @media only screen and (max-width: 450px) {
    .contactList{
      width: 90.5%;
      height: 84%;
      margin-top: 8%;
      border-radius: 3.8%;
      margin-left: 0.1%;
      background-color:#61B457;
      display: grid;
      grid-gap: 30px;
      grid-template-columns: auto;
      padding: 10px;
      position: absolute;
      overflow: auto;
      overscroll-behavior: contain;
      font-family: 'Roboto', sans-serif;
    }

    .addcontact{
      margin-top: 12%;
      margin-left: 85%;
      position: absolute;
    }

    .iop{
      background-color: white;
      padding: 5px;
      font-size: 14px;
      text-align: center;
      color: black;
      justify-content: center;
      display: flex;
      border-radius: 40px;
      line-height: 35px;
    }

    .cointainer {
      background-color:orange;
      width: 96%;
      height: 79%;
      margin-top: 8%;
      border-radius: 3.8%;
      position:absolute;
      margin-left: 0.1%;
  }


  }

  @media only screen and (min-width:500px) and (max-width:1250px) {

    .contactList{
      width: 61.5%;
      height: 76%;
      margin-top: 8%;
      border-radius: 3.8%;
      margin-left: 19%;
      background-color:#61B457;
      display: grid;
      grid-gap: 30px;
      grid-template-columns: auto;
      padding: 10px;
      position: absolute;
      overflow: auto;
      overscroll-behavior: contain;
      font-family: 'Roboto', sans-serif;
    }

    .addcontact{
      margin-top: 11%;
      margin-left: 77%;
      position: absolute;
    }

    .cointainer {
      background-color:orange;
      width: 63%;
      height: 89%;
      margin-top: 9%;
      border-radius: 3.8%;
      position:absolute;
      margin-left: 18%;
  }




  }